<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Khách hàng - Shop Phone Admin</title>
    <%- include('../../include/_css') %>
    <style>
      th,
      td {
        text-align: center;
      }
    </style>
  </head>

  <body class="sidebar-mini layout-fixed layout-navbar-fixed">
    <div class="wrapper">
      <!-- Navbar -->
      <%- include('../../include/_header') %>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <%- include('../../include/_sidebar') %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Danh sách Khách hàng</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item active">Khách hàng</li>
                </ol>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column gap-4">
                <% if (success.length > 0) { %>
                <div class="col-12">
                  <div class="alert alert-success"><%= success %></div>
                </div>
                <% } %>

                <form class="row gap-3 gap-md-0">
                  <div class="col-12 col-md-auto">
                    <input
                      type="text"
                      class="form-control"
                      name="searchKey"
                      placeholder="Tìm kiếm..."
                      value="<%= searchKey %>"
                    />
                  </div>
                  <div class="col-12 col-md-auto">
                    <select class="form-select" name="searchStatus">
                      <option value="">---Tât cả trạng thái---</option>
                      <option value="1" <%= searchStatus == '1' ? 'selected' : '' %>>Đang hoạt động</option>
                      <option value="0" <%= searchStatus == '0' ? 'selected' : '' %>>Đã khóa</option>
                    </select>
                  </div>
                  <div class="col-12 col-md-auto">
                    <button type="submit" class="btn btn-success">Tìm kiếm</button>
                  </div>
                  <div class="col-12 col-md-auto">
                    <a href="/customers" class="btn btn-primary">Làm mới</a>
                  </div>
                </form>

                <div class="table-responsive">
                  <table class="table table-hover align-middle m-0">
                    <thead class="table-secondary">
                      <tr>
                        <th>Id</th>
                        <th>Avatar</th>
                        <th>Tên khách hàng</th>
                        <th>Email</th>
                        <th>Chế độ hiển thị</th>
                        <th>Hành động</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% customers.forEach(customer => { %>
                      <tr id="tr-<%= customer._id %>">
                        <th><%= customer._id %></th>
                        <td>
                          <img
                            src="<%= customer.avatarUrl || '/dist/img/user-avatar-default.png' %>"
                            style="height: 80px; border-radius: 50%"
                          />
                        </td>
                        <td><%= customer.fullName %></td>
                        <td><%= customer.email %></td>
                        <td>
                          <% if (customer.status) { %>
                          <div class="badge text-bg-success">Đang hoạt động</div>
                          <% } else { %>
                          <div class="badge text-bg-secondary">Đã khóa</div>
                          <% } %>
                        </td>
                        <td>
                          <% if (customer.status) { %>
                          <button
                            type="button"
                            class="btn btn-danger"
                            title="Khóa tài khoản"
                            onclick="lookCustomer('<%= customer._id %>')"
                          >
                            <i class="fa-regular fa-lock"></i>
                          </button>
                          <% } else { %>
                          <button
                            type="button"
                            class="btn btn-success"
                            title="Mở khóa tài khoản"
                            onclick="unLookCustomer('<%= customer._id %>')"
                          >
                            <i class="fa-regular fa-lock-open"></i>
                          </button>
                          <% } %>
                        </td>
                      </tr>
                      <% }) %>
                    </tbody>
                  </table>
                </div>

                <nav aria-label="navigation">
                  <ul class="pagination justify-content-end">
                    <li class="page-item <%= currentPage == 1 ? 'disabled' : ''%>">
                      <button
                        type="button"
                        class="page-link"
                        onclick="redirect('<%= currentPage != 1 ? currentPage-1 : null %>')"
                        aria-label="Previous"
                      >
                        <span aria-hidden="true">&laquo;</span>
                      </button>
                    </li>
                    <% for (i=1; i<=totalPages; i++) { %>
                    <li class="page-item <%= currentPage == i ? 'disabled' : ''%>">
                      <button
                        type="button"
                        class="page-link"
                        onclick="redirect('<%= currentPage != i ? i : null %>')"
                      >
                        <%= i %>
                      </button>
                    </li>
                    <% } %>
                    <li class="page-item <%= currentPage == totalPages ? 'disabled' : ''%>">
                      <button
                        type="button"
                        class="page-link"
                        onclick="redirect('<%= currentPage != totalPages ? currentPage+1 : null %>')"
                        aria-label="Next"
                      >
                        <span aria-hidden="true">&raquo;</span>
                      </button>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->

      <%- include('../../include/_footer') %>
    </div>

    <%- include('../../include/_js') %>
  </body>
</html>

<script>
  const redirect = page => {
    if (!page) return

    let currentHref = location.href

    if (currentHref.includes('page=')) {
      currentHref = currentHref.replace(/(page=)\d+/, `page=${page}`)
    } else {
      currentHref += (currentHref.includes('?') ? '&' : '?') + `page=${page}`
    }

    location.href = currentHref
  }

  const lookCustomer = async id => {
    const confirmResult = await Swal.fire({
      title: 'Bạn chắc chứ?',
      text: 'Bạn có chắc muốn khóa tài khoản này không?',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Chắc chắn!',
      cancelButtonText: 'Hủy!',
    })

    if (confirmResult.isConfirmed) {
      const trElement = document.querySelector(`#tr-${id}`)

      try {
        const response = await $.ajax({
          type: 'POST',
          url: `/customers/${id}/look`,
        })

        await Swal.fire({
          icon: 'success',
          title: response.message,
          showConfirmButton: true,
        })

        trElement.innerHTML = response.data
      } catch (error) {
        Swal.fire({
          icon: 'error',
          title: error.message,
          showConfirmButton: false,
        })
      }
    }
  }

  const unLookCustomer = async id => {
    const confirmResult = await Swal.fire({
      title: 'Bạn chắc chứ?',
      text: 'Bạn có chắc muốn mở khóa tài khoản này không?',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Chắc chắn!',
      cancelButtonText: 'Hủy!',
    })

    if (confirmResult.isConfirmed) {
      const trElement = document.querySelector(`#tr-${id}`)

      try {
        const response = await $.ajax({
          type: 'POST',
          url: `/customers/${id}/un-look`,
        })

        await Swal.fire({
          icon: 'success',
          title: response.message,
          showConfirmButton: true,
        })

        trElement.innerHTML = response.data
      } catch (error) {
        Swal.fire({
          icon: 'error',
          title: error.message,
          showConfirmButton: false,
        })
      }
    }
  }
</script>
