<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cập nhật thông tin thương hiệu - Shop Phone Admin</title>
    <%- include('../include/_css') %>
  </head>

  <body class="sidebar-mini layout-fixed layout-navbar-fixed">
    <div class="wrapper">
      <!-- Navbar -->
      <%- include('../include/_header') %>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <%- include('../include/_sidebar') %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Cập nhật thông tin thương hiệu</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item active"><a href="/brands">Thương hiệu</a></li>
                  <li class="breadcrumb-item active">Cập nhật</li>
                </ol>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="card">
            <div class="card-body">
              <% if (success.length > 0) { %>
                <div class="col-12">
                  <div class="alert alert-success"><%= success %></div>
                </div>
              <% } %>
    
              <form method="POST">
                <div class="d-flex flex-column gap-4">
                  <div class="col-12 d-flex justify-content-end">
                    <input class="btn btn-success" type="submit" value="Cập nhật" />
                  </div>
    
                  <div class="col-12">
                    <div class="form-group">
                      <label for="name" class="form-label fw-bold">
                        Tên thương hiệu <span class="text-danger">*</span>
                      </label>
                      <input type="text" class="form-control" id="name" name="name" value="<%= brand.name %>"/>
                    </div>
                  </div>
    
                  <div class="col-12">
                    <div class="form-group">
                      <label for="status" class="form-label fw-bold">
                        Chế độ hiển thị <span class="text-danger">*</span>
                      </label>
                      <select class="form-select" id="status" name="status" required>
                        <option value="1" <%= brand.status && 'selected' %>>Công khai</option>
                        <option value="0" <%= !brand.status && 'selected' %>>Riêng tư</option>
                      </select>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->

      <%- include('../include/_footer') %>
    </div>

    <%- include('../include/_js') %>
  </body>
</html>
